<div class="container">
  <div class="container blackbg citizen-card">
    <div class="col-sm-6 col-md-4">
      <img src="http://placehold.it/380x500" alt="" class="img-circle img-responsive" />
    </div>
    <div class="col-sm-6 col-md-8">
      <h2 class="tealtext">Citizen <%= @citizen.username.capitalize %></h2>
      <p class="whitetext">
        <i class="glyphicon glyphicon-envelope"></i> email@example.com
        <br />
        <i class="glyphicon glyphicon-globe"></i><a href="http://www.robertsspaceindustries.com"> www.robertsspaceindustries.com</a>
        <br />
        <i class="glyphicon glyphicon-gift"></i> More features coming soon!</p>
      <% if current_citizen.id == @citizen.id %>
        <div class="btn-group">
          <a type="button" class="btn btn-primary" href="/citizens/<%= @citizen.slug %>/edit">
            Edit</a>
        </div>
      <% end %>
    </div>
  </div>

  <% if current_citizen.id == @citizen.id %>
    <div class="container text-center">
      <a href="/ships/new" class="btn btn-primary btn-lg">Create a New Ship</a>
    </div>
  <% end %>

  <% if current_citizen.id == @citizen.id %>
    <h1 class="tealtext top-header">Your Hangar</h1>
  <% else %>
    <h1 class="tealtext top-header"><%= @citizen.username.capitalize %>'s Hangar</h1>
  <% end %>

  <% my_ships = Ship.all.collect{|ship| ship if ship.citizen_id == @citizen.id} %>
  <% my_ships.each do |ship| %>
    <% if ship %>
    <div class="list-group">
      <div class="list-group-item list-group-item-action flex-column align-items-start container">
        <div class="d-flex w-100 justify-content-between">
          <h4 class="mb-1 ship-title"><%=ship.model%></h4>
          <p class="mb-1 ship-text">Manufacturer: <%=ship.manufacturer%></p>
        </div>
        <p class="mb-1 ship-text"><%=ship.description%></p>
        <small class="ship-text">Role: <%=ship.role%>  |</small>
        <small class="tealtext">    <%=ship.production_state%></small><br>

        <% if current_citizen.id == @citizen.id %>
          <form class="" action="/ships/<%= ship.id %>/list" method="post">
            <button class="btn btn-primary pull-right" type="submit" name="button">List on the Market</button>
          </form>
          <form class="" action="/ships/<%= ship.id %>/delete" method="post">
            <button class="btn btn-danger pull-right" type="delete" name="button">Salvage (Destroy)</button>
          </form>
        <% end %>

      </div>
    </div>
    <% end %>
  <% end %>
</div>
