<div class="container">
  <div class="container blackbg citizen-card">
    <div class="col-sm-6 col-md-4">
      <img src="http://placehold.it/380x500" alt="" class="img-circle img-responsive" />
    </div>
    <div class="col-sm-6 col-md-8">
      <h2 class="tealtext">Citizen <%= @citizen.username.capitalize %></h2>
      <p class="whitetext">
        <i class="glyphicon glyphicon-envelope"></i> email@example.com
        <br />
        <i class="glyphicon glyphicon-globe"></i><a href="http://www.robertsspaceindustries.com"> www.robertsspaceindustries.com</a>
        <br />
        <i class="glyphicon glyphicon-gift"></i> More features coming soon!</p>

      <div class="btn-group">
        <a type="button" class="btn btn-primary" href="/citizens/<%= @citizen.slug %>/edit">
          Edit</a>
      </div>
    </div>
  </div>

  <h1 class="tealtext top-header">Your Hangar</h1>
  <% my_ships = Ship.all.collect{|ship| ship if ship.citizen_id == @citizen.id} %>
  <% my_ships.each do |ship| %>
    <% if ship %>
    <div class="list-group">
      <div class="list-group-item list-group-item-action flex-column align-items-start container">
        <div class="d-flex w-100 justify-content-between">
          <h4 class="mb-1 ship-title"><%=ship.model%></h4>
          <p class="mb-1 ship-text">Manufacturer: <%=ship.manufacturer%></p>
        </div>
        <p class="mb-1 ship-text"><%=ship.description%></p>
        <small class="ship-text">Role: <%=ship.role%>  |</small>
        <small class="tealtext">    <%=ship.production_state%></small><br>
        <a href="/" action="/" class="btn btn-primary pull-right" type="button" name="button">Send to Market</a>
        <a href="/ships/<%= ship.id %>/delete" class="btn btn-danger pull-right" type="button" name="button">Salvage (Destroy)</a>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
